/* ========= Font Style ========= */

@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/* ========= Application Style ========= */

.App {
  text-align: center;
}

#appBackground {
  background-image: url("../static/background.png");
  background-size: cover;
  opacity: 0.1;
  min-height: 100vh;
}

#appContent {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

/* ========= Timer Container Style ========= */

#workTimerContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 550px;
  width: 480px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #F10000, #FF6633);
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  -moz-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
}

#breakTimerContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 550px;
  width: 480px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #007EFF, #00B3FF);
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  -moz-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
}

#timerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100
}

#timerClock {
  margin-top: 1rem;
  width: 90%
}

#timerProgressContainer {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
}

#timerProgressBar {
  width: 100%;
  height: 5px;
  background-color: white;
  margin-top: 5rem
}

.CircularProgressbar-text {
  font-family: "SF Display", Helvetica, Arial, san-serif;
  font-size: 20px;
  font-weight: 100;
}

#timerTextContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  left: 135px;
  width: 240px;
}

#timerText {
  display: flex;
  text-align: center;
  font-weight: 100;
  font-size: 120px;
}

#minText {
  position: absolute;
  left: -20px;
}

#colonText {
  position: absolute;
  left: 110px;
}

#secText {
  position: absolute;
  left: 130px;
}

#filler {
  height: 34.5px
}

/* ========= Button Style ========= */

button {
  outline: none;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.buttonImage {
  height: 2rem;
  width: 2rem;
}

#workTimerToggle {
  height: 2rem;
  width: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
}

#breakTimerToggle {
  height: 2rem;
  width: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
}

.toggleBall {
  left: 0;
  height: auto;
  width: 2rem;
  z-index: 1;
}

#workTimerButton {
  background-color: #F65050;
  color: white;
  position: absolute;
  top: 480px;
  left: 195px;
  font-family: "SF Display", Helvetica, Arial, san-serif;
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
}

#workTimerButton:hover {
  background-color: rgb(230, 66, 66);
}

#workTimerButton:active {
  background-color: rgb(230, 66, 66);
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
}

#breakTimerButton {
  background-color: rgb(44, 150, 255);
  color: white;
  position: absolute;
  top: 480px;
  left: 195px;
  font-family: "SF Display", Helvetica, Arial, san-serif;
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
}

#breakTimerButton:hover {
  background-color: rgb(20, 137, 255);
}

#breakTimerButton:active {
  background-color: rgb(20, 137, 255);
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
}

#check {
  top: 190px;
  left: 130px;
  position: absolute;
  width: 250px;
  height: auto;
}

.rc-slider-dot {
  border: none !important;
  background-color: transparent !important;
}

.rc-slider-handle {
  border: none !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.rc-slider-handle:hover {
  border: none !important;
}

.rc-slider-handle:focus {
  border: none !important;
}

.rc-slider-handle-click-focused:focus {
  border: none !important;
}

.rc-slider-handle-click-focused {
  border: none !important;
}

.rc-slider-track {
  background-color: white !important;
}

#timerSettingsContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timerSliderContainer {
  margin-top: 10rem;
  width: 80%
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(243, 243, 243);
  font-size: 10px;
  padding: .5rem .5rem;
  font-family: "SF Display", Helvetica, Arial, san-serif;
}

#feedbackButton {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  font-size: 16px;
  background-color: none;
  color: rgb(212, 212, 212);
  padding: .5rem 1rem;
  font-family: "SF Display", Helvetica, Arial, san-serif;
  transition: all .5s;
}

#feedbackButton:hover {
  color: rgb(185, 185, 185);
  transition: all .5s;
}
