/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */

/*
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */

/*
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
} */

/** Heavy */

/* @font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
} */

/** Light */

@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */

/* @font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
} */

/** Regular */

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */

/*
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
} */

/** Thin */

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/* Ultralight */

@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/* ========= Application Style ========= */

.App {
  text-align: center;
}

#appBackground {
  background-image: url("../static/background.png");
  background-size: cover;
  opacity: 0.1;
  min-height: 100vh;
}

#appContent {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

/* ========= Timer Container Style ========= */

#workTimeContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 550px;
  width: 480px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #F1314C, #FF6633);
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  -moz-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
}

#breakTimeContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 550px;
  width: 480px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #007EFF, #00B3FF);
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  -moz-box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
  box-shadow: 0px 0px 24px -2px rgba(138, 138, 138, 0.6);
}

#timerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

#timerClock {
  margin-top: 1rem;
  width: 90%
}

#timerProgressContainer {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
}

#timerProgressBar {
  width: 100%;
  height: 5px;
  background-color: white;
  margin-top: 5rem
}

.CircularProgressbar-text {
  font-family: "SF Display";
  font-size: 20px;
  font-weight: 100;
}

#timerText {
  top: 200px;
  left: 150px;
  font-weight: 100;
  font-size: 120px;
  position: absolute;
}

#filler {
  height: 34.5px
}

/* ========= Button Style ========= */

button {
  outline: none;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.buttonImage {
  height: 2rem;
  width: 2rem;
}

#timerToggle {
  height: 2rem;
  width: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
}

.toggleBall {
  left: 0;
  height: 2rem;
  width: 2rem;
  z-index: 1;
}

#timerButton {
  background-color: #F65050;
  color: white;
  position: absolute;
  top: 480px;
  left: 195px;
  font-family: "SF Display";
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.23);
}

#check {
  top: 190px;
  left: 130px;
  position: absolute;
  width: 250px;
  height: auto;
}
